*.db-shm
*.db-wal
*.log
*.pid
*.seed
*.pid.lock
*.tgz

.cache
.DS_Store
.env
.env.test
.lock-wscript

build/
logs/
out/
pids/
resources/app.rc

# vscode config
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
